[submodule "dependency/GeometryTools"]
	path = dependency/GeometryTools
	url = https://github.com/H-Schott/GeometryTools
[submodule "dependency/eigen"]
	path = dependency/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "dependency/assimp"]
	path = dependency/assimp
	url = https://github.com/assimp/assimp
